*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
}

html,
body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
}

#page{
    /* position: relative; */
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#page>nav{
    height: 5vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
    /* background-color: white; */
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page>nav>h3{
    justify-content: space-between;
    color: white;
    font-weight: 400;
    align-items: center;
}

#page>video{
    height: 100%;
    width: 50%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#book{
    margin-left: 400px;
    border-radius: 50px;
    padding: 5px;
    background-color: white;
    border: none;

}
#buy{
    margin-left: 30px;
    border-radius: 50px;
    padding: 5px 10px;
    background-color: #0171E2;
    color: white;
    border: none;
}

#page-bottom{
    height: 20%;
    width: 25%;
    /* background-color: green; */
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page-bottom>img{
    height: 30%;
}

#page-bottom>h3{
    color: #FF5A00;
    font-size: 1.6vw;
    font-weight: 400;
    line-height: 35px;
}

#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background-color: burlywood; */
}

#page1>h1{
    font-size: 4vw;
    color: white;
    position: absolute;
    font-weight: 600;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background-color: burlywood; */
}

#page2>h1{
    font-size: 4vw;
    color: rgb(11, 11, 11);
    position: absolute;
    font-weight: 600;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
}

#page2>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

#page3>img{
    width: 74%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

#page3-upper{
    height: 30%;
    width: 35%;
    /* background-color: yellowgreen; */
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
}

#page3-upper>img{
    position: absolute;
    width: 57%;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
}

#page3>button{
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 35px;
    border: 3px solid black;
    font-weight: 500;
    background-color: white;
    border-radius: 50px;
    font-size: 1.5vw;
}

#page4{
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background-color: burlywood; */
}

#page4>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#center-page4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 2vw;
}

#page5{
    display: flex;
     position: relative;
     height: 70vh;
     width: 100vw;
     /* background-color: wheat;  */
}

#left5{
    position: relative;
    height: 100%;
    width: 50%;
    /* background-color: violet; */
}

#right5{
    position: relative;
    display: flex;
    align-items: start;
    /* justify-content: center; */
    flex-direction: column;
    height: 100%;
    width: 50%;
    /* background-color: palevioletred; */
    margin-top: 5.1vw;
}

#left5>h1{
    font-size: 2.3vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
}

#right5>h3{
    /* position: absolute; */
    font-size: 1.3vw;
    width: 80%;
    color: #86868B;
    top: 15%;
    line-height: 1.4;
}

#right5>button{
    /* position: absolute; */
    padding: 15px 25px;
    font-size: 1.5vw;
    border: none;
    background-color: #FF5A00;
    color: #FFFFFF;
    border-radius: 50px;
    /* bottom: 13%; */
    margin-top: 1.5vw;
}

#page6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: #F5F5F7;
}

#page6>h3{
    margin-bottom: 1vw ;
    font-size: 1.6vw;
}

#page6>h1{
    margin-bottom: 4vw;
    font-size: 5vw;
}

#page6>p{
    font-size: 1.5vw;
    width: 48%;
    color: #86868B;
}

#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}

#page7>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 99;
}

#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7 ;
}

#page8>h1{
    position: absolute;
    width: 18%;
    top: 50%;
    transform: translateY(-50%);
    left: 10% ;
    font-size: 1.4vw;
    font-weight: 500;
    color: #86868B; 
    z-index: 99;
}
 
#page8>h1>span{
    color: black;
}

#page9{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}

#page9>h1{
    position: absolute;
    width: 18%;
    top: 50%;
    transform: translateY(-50%);
    right: 10% ;
    font-size: 1.4vw;
    font-weight: 500;
    color: #86868B; 
    z-index: 99;
}
 
#page9>h1>span{
    color: black;
}

#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}

#page10>h1{
    position: absolute;
    width: 18%;
    top: 50%;
    transform: translateY(-50%);
    left: 10% ;
    font-size: 1.4vw;
    font-weight: 500;
    color: #86868B; 
    z-index: 99;
}
 
#page10>h1>span{
    color: black;
}

#page11{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}

#page11>h1{
    position: absolute;
    width: 18%;
    top: 50%;
    transform: translateY(-50%);
    left: 10% ;
    font-size: 1.4vw;
    font-weight: 500;
    color: #86868B; 
    z-index: 99;
}
 
#page11>h1>span{
    color: black;
}  

#page12{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}

#page12>h1{
    position: absolute;
    width: 18%;
    top: 50%;
    transform: translateY(-50%);
    right: 10% ;
    font-size: 1.4vw;
    font-weight: 500;
    color: #86868B; 
    z-index: 99;
}
 
#page12>h1>span{
    color: black;
}

#page13{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}

#page13>h1{
    position: absolute;
    width: 18%;
    top: 50%;
    transform: translateY(-50%);
    left: 10% ;
    font-size: 1.4vw;
    font-weight: 500;
    color: #86868B; 
    z-index: 99;
}
 
#page13>h1>span{
    color: black;
} 

#page14{
    display: flex;
    align-items: center;
    justify-content: space-around ;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

#left14{
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_top__k3b8lzqd1l2m_large.jpg);
    background-size: cover;
}

#right14{
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/e/images/overview/design/glass_side__gm4agomrwl2e_medium_2x.jpg);
    background-size: cover;
}